In [4]:
import pandas as pd
from pathlib import Path

In [5]:
# Load CSV Data for Schools and Students
school_data_path = Path('Resources', 'schools_complete.csv')
school_data = pd.read_csv(school_data_path)

student_data_path = Path('Resources', 'students_complete.csv')
student_data = pd.read_csv(student_data_path)

# Merge data sets
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [6]:
# Total number of unique schools

total_schools = len(school_data_complete['school_name'].unique())

total_schools

15

In [7]:
# Total students
total_students = school_data_complete['Student ID'].count()

total_students

39170

In [8]:
# Total budget
total_budget = school_data['budget'].sum()

total_budget

24649428

In [9]:
# Average math score
avg_math_score = school_data_complete['math_score'].mean()

avg_math_score

78.98537145774827

In [10]:
# Average reading score
avg_reading_score = school_data_complete['reading_score'].mean()

avg_reading_score

81.87784018381414

In [11]:
# Percentage of students who passed math
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_students) * 100
print("Percent of Students passing math:", round(passing_math_percentage,2))

Percent of Students passing math: 74.98

In [12]:
# Percentage of students who passed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_students) * 100
print("Percent of Students passing reading:", round(passing_reading_percentage,2))

Percent of Students passing reading: 85.81

In [13]:
# Percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100
print("Percent of Students Passing overall:", round(overall_passing_rate,2))

Percent of Students Passing overall: 65.17

In [14]:
district_summary = pd.DataFrame(
	{
		"Total Schools": [total_schools],
		"Total Students": [total_students],
		"Total Budget": [total_budget],
		"Average Math Score": [avg_math_score],
		"Average Reading Score": [avg_reading_score],
		"% Passing Math": [passing_math_percentage],
		"% Passing Reading": [passing_reading_percentage],
		"% Overall Passing": [overall_passing_rate],
	}
)

#Format the data
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Print the summary 
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [15]:
# School name
# school_name = school_data_complete['school_name'].unique()
# print(school_name)

#Group the data by school
school_group = school_data_complete.groupby(["school_name"])

school_types = school_data.set_index(["school_name"])["type"]

#Show the school types
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
# Total students per school
total_students_per_school = school_data_complete.groupby(['school_name']).count()['student_name']
total_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [17]:
# Total school budget per school
total_budget_per_school = school_data.set_index(['school_name'])['budget'] / total_students_per_school
total_budget_per_school

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
# Total School Budget
per_school_budget = school_data_complete.groupby(["school_name"]).sum(numeric_only=True)["budget"]
#Calculate the per capita spending
per_school_capita = per_school_budget / total_students_per_school

per_school_capita

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [19]:
# Average math score per school
average_math_score = school_group.mean(numeric_only=True)['math_score']

print("average math score:", (average_math_score))

average math score: school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
# Average reading score per school
average_reading_score = school_group.mean(numeric_only=True)['reading_score']

print("average reading score:", (average_reading_score))

average reading score: school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [78]:
# % passing math (the percentage of students who passed math)
percent_passing_math = (school_data_complete['math_score'] >= 70).mean(numeric_only=True)

percent_passing_math

0.749808526933878

In [22]:
# % passing reading (the percentage of students who passed reading)
percent_passing_reading = (school_data_complete['reading_score'] >= 70).mean(numeric_only=True)

percent_passing_reading

0.8580546336482001

In [72]:
# % overall passing (the percentage of students who passed math AND reading)
percent_overall_passing = ((school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)).mean(numeric_only=True) * 100

print("percent overall passing math and reading:", round(percent_overall_passing,2))

percent overall passing math and reading: 65.17

In [79]:
# students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
# school_students_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"]

# students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
# school_students_passing_reading = students_passing_reading.groupby(["school_name"]).count()["student_name"]

# students_passing_math_and_reading = school_data_complete[(school_data_complete["math_score"] >= 70) &
#                                                       (school_data_complete["reading_score"] >= 70)]
# school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).count()["student_name"]

# #Calculate the percentage of students passing math
# per_school_passing_math = school_students_passing_math / total_students_per_school * 100
# #Calculate the percentage of students passing reading
# per_school_passing_reading = school_students_passing_reading / total_students_per_school * 100
# #Calculate the percentage of students passing math and reading
# per_overall_passing_rate = school_students_passing_math_and_reading / total_students_per_school * 100

#Calculate the percentage of students passing math
per_school_passing_math = percent_passing_math / total_students_per_school * 100

#Calculate the percentage of students passing reading
per_school_passing_reading = percent_passing_reading / total_students_per_school * 100

#Calculate the percentage of students passing math and reading
per_overall_passing_rate = percent_overall_passing / total_students_per_school * 100

In [80]:
# Create Database with new Data

per_school_summary = pd.DataFrame(
	{
		"School Type": school_types,
		"Total Students": total_students_per_school,
		"Total School Budget": total_budget_per_school,
		"Per Student Budget": per_school_capita,
		"Average Math Score": average_math_score,
		"Average Reading Score": average_reading_score,
		"Percent Passing Math": percent_passing_math,
		"Percent Passing Reading": percent_passing_reading,
		"Percent Overall Passing": percent_overall_passing,
	}
)

#Format the data
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Print Summary
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.048432,81.033963,0.749809,0.858055,65.172326
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.061895,83.975780,0.749809,0.858055,65.172326
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.711767,81.158020,0.749809,0.858055,65.172326
Ford High School,District,2739,$644.00,"$1,763,916.00",77.102592,80.746258,0.749809,0.858055,65.172326
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.351499,83.816757,0.749809,0.858055,65.172326
Hernandez High School,District,4635,$652.00,"$3,022,020.00",77.289752,80.934412,0.749809,0.858055,65.172326
Holden High School,Charter,427,$581.00,"$248,087.00",83.803279,83.814988,0.749809,0.858055,65.172326
Huang High School,District,2917,$655.00,"$1,910,635.00",76.629414,81.182722,0.749809,0.858055,65.172326
Johnson High School,District,4761,$650.00,"$3,094,650.00",77.072464,80.966394,0.749809,0.858055,65.172326
Pena High School,Charter,962,$609.00,"$585,858.00",83.839917,84.044699,0.749809,0.858055,65.172326
Rodriguez High School,District,3999,$637.00,"$2,547,363.00",76.842711,80.744686,0.749809,0.858055,65.172326
Shelton High School,Charter,1761,$600.00,"$1,056,600.00",83.359455,83.725724,0.749809,0.858055,65.172326
Thomas High School,Charter,1635,$638.00,"$1,043,130.00",83.418349,83.848930,0.749809,0.858055,65.172326
Wilson High School,Charter,2283,$578.00,"$1,319,574.00",83.274201,83.989488,0.749809,0.858055,65.172326
Wright High School,Charter,1800,$583.00,"$1,049,400.00",83.682222,83.955000,0.749809,0.858055,65.172326

In [81]:
# Sort the schools by % Overall Passing in descending order and display the top 5 rows.
# Save the results in a DataFrame called "top_schools".
top_schools = per_school_summary.sort_values(["Percent Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.048432,81.033963,0.749809,0.858055,65.172326
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.061895,83.975780,0.749809,0.858055,65.172326
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.711767,81.158020,0.749809,0.858055,65.172326
Ford High School,District,2739,$644.00,"$1,763,916.00",77.102592,80.746258,0.749809,0.858055,65.172326
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.351499,83.816757,0.749809,0.858055,65.172326

In [82]:
# Sort the schools by % Overall Passing in ascending order and display the top 5 rows.
# Save the results in a DataFrame called "bottom_schools".
bottom_schools = per_school_summary.sort_values(by='Percent Overall Passing', ascending=True).head(5)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.048432,81.033963,0.749809,0.858055,65.172326
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.061895,83.975780,0.749809,0.858055,65.172326
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.711767,81.158020,0.749809,0.858055,65.172326
Ford High School,District,2739,$644.00,"$1,763,916.00",77.102592,80.746258,0.749809,0.858055,65.172326
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.351499,83.816757,0.749809,0.858055,65.172326

In [83]:
# Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Group the data by school name and grade, and calculate the average math score
avg_math_scores_by_grade = student_data.groupby(['school_name', 'grade'])['math_score'].mean().reset_index()

# Pivot the data to create a separate column for each grade level
avg_math_scores_by_grade = avg_math_scores_by_grade.pivot(index='school_name', columns='grade', values='math_score')

# Rename the columns to make them more readable
avg_math_scores_by_grade.columns = [f'Average Math Score - {grade}' for grade in avg_math_scores_by_grade.columns]

# Reset the index to create a clean DataFrame
avg_math_scores_by_grade = avg_math_scores_by_grade.reset_index()

avg_math_scores_by_grade.head()

,school_name,Average Math Score - 10th,Average Math Score - 11th,Average Math Score - 12th,Average Math Score - 9th
0,Bailey High School,76.996772,77.515588,76.492218,77.083676
1,Cabrera High School,83.154506,82.765560,83.277487,83.094697
2,Figueroa High School,76.539974,76.884344,77.151369,76.403037
3,Ford High School,77.672316,76.918058,76.179963,77.361345
4,Griffin High School,84.229064,83.842105,83.356164,82.044010

In [84]:
print(student_data.columns)

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [85]:
# Perform the necessary calculations to create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# Group the data by school name and grade, and calculate the average reading score
avg_reading_scores_by_grade = student_data.groupby(['school_name', 'grade'])['reading_score'].mean().reset_index()

# Pivot the data to create a separate column for each grade level
avg_reading_scores_by_grade = student_data.pivot_table(index='school_name', columns='grade', values='reading_score', aggfunc='mean')

# Rename the columns to make them more readable
avg_reading_scores_by_grade.columns = [f'Average reading score - {grade}' for grade in avg_reading_scores_by_grade.columns]

# Reset the index to create a clean DataFrame
avg_reading_scores_by_grade = avg_reading_scores_by_grade.reset_index()

avg_reading_scores_by_grade.head()

,school_name,Average reading score - 10th,Average reading score - 11th,Average reading score - 12th,Average reading score - 9th
0,Bailey High School,80.907183,80.945643,80.912451,81.303155
1,Cabrera High School,84.253219,83.788382,84.287958,83.676136
2,Figueroa High School,81.408912,80.640339,81.384863,81.198598
3,Ford High School,81.262712,80.403642,80.662338,80.632653
4,Griffin High School,83.706897,84.288089,84.013699,83.369193

In [86]:
# Create bins for school spending
spending_bins = [0, 585, 630, 645, 680]

# Create labels for the bins
labels = ["<$584", "$585-629", "$630-644", "$645-675"]

In [87]:
#Copy the per school summary data to a new dataframe
school_spending_df = per_school_summary.copy()

In [88]:

#Convert the per student budget to a float
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace('[\$,]', '', regex=True).astype(float)
# school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace('[\$,]', '', regex=True).astype(float)

In [89]:
#Pd.cut to group the data
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)

#Show the data
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,$628.00,3124928.0,77.048432,81.033963,0.749809,0.858055,65.172326,NaN
Cabrera High School,Charter,1858,$582.00,1081356.0,83.061895,83.975780,0.749809,0.858055,65.172326,NaN
Figueroa High School,District,2949,$639.00,1884411.0,76.711767,81.158020,0.749809,0.858055,65.172326,NaN
Ford High School,District,2739,$644.00,1763916.0,77.102592,80.746258,0.749809,0.858055,65.172326,NaN
Griffin High School,Charter,1468,$625.00,917500.0,83.351499,83.816757,0.749809,0.858055,65.172326,NaN
Hernandez High School,District,4635,$652.00,3022020.0,77.289752,80.934412,0.749809,0.858055,65.172326,NaN
Holden High School,Charter,427,$581.00,248087.0,83.803279,83.814988,0.749809,0.858055,65.172326,NaN
Huang High School,District,2917,$655.00,1910635.0,76.629414,81.182722,0.749809,0.858055,65.172326,NaN
Johnson High School,District,4761,$650.00,3094650.0,77.072464,80.966394,0.749809,0.858055,65.172326,NaN
Pena High School,Charter,962,$609.00,585858.0,83.839917,84.044699,0.749809,0.858055,65.172326,NaN
Rodriguez High School,District,3999,$637.00,2547363.0,76.842711,80.744686,0.749809,0.858055,65.172326,NaN
Shelton High School,Charter,1761,$600.00,1056600.0,83.359455,83.725724,0.749809,0.858055,65.172326,NaN
Thomas High School,Charter,1635,$638.00,1043130.0,83.418349,83.848930,0.749809,0.858055,65.172326,NaN
Wilson High School,Charter,2283,$578.00,1319574.0,83.274201,83.989488,0.749809,0.858055,65.172326,NaN
Wright High School,Charter,1800,$583.00,1049400.0,83.682222,83.955000,0.749809,0.858055,65.172326,NaN

In [57]:
# Calculate the averages for the spending bins
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Overall Passing"].mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_928\2551854683.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\2551854683.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\2551854683.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Math"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\2551854683.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Passing Reading"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\2551854683.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percent Overall Passing"].mean()

In [74]:
#Create a new dataframe to hold the above results
spending_summary = pd.DataFrame(
	{
		"Average Math Score": spending_math_scores,
		"Average Reading Score": spending_reading_scores,
		"Percent Passing Math": spending_passing_math,
		"Percent Passing Reading": spending_passing_reading,
		"Percent Overall Passing": overall_passing_spending,
	}
)

#Show the data
spending_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
Spending Ranges (Per Student),,,,,
<$584,NaN,NaN,NaN,NaN,NaN
$585-629,NaN,NaN,NaN,NaN,NaN
$630-644,NaN,NaN,NaN,NaN,NaN
$645-675,NaN,NaN,NaN,NaN,NaN

In [90]:
#Create bins for school size
size_bins = [0, 1000, 2000, 5000]

#Create labels for the bins
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [91]:
#Pd.cut to group the data
per_school_summary ["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)

#Show the data
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,$628.00,"$3,124,928.00",77.048432,81.033963,0.749809,0.858055,65.172326,Large (2000-5000)
Cabrera High School,Charter,1858,$582.00,"$1,081,356.00",83.061895,83.975780,0.749809,0.858055,65.172326,Medium (1000-2000)
Figueroa High School,District,2949,$639.00,"$1,884,411.00",76.711767,81.158020,0.749809,0.858055,65.172326,Large (2000-5000)
Ford High School,District,2739,$644.00,"$1,763,916.00",77.102592,80.746258,0.749809,0.858055,65.172326,Large (2000-5000)
Griffin High School,Charter,1468,$625.00,"$917,500.00",83.351499,83.816757,0.749809,0.858055,65.172326,Medium (1000-2000)
Hernandez High School,District,4635,$652.00,"$3,022,020.00",77.289752,80.934412,0.749809,0.858055,65.172326,Large (2000-5000)
Holden High School,Charter,427,$581.00,"$248,087.00",83.803279,83.814988,0.749809,0.858055,65.172326,Small (<1000)
Huang High School,District,2917,$655.00,"$1,910,635.00",76.629414,81.182722,0.749809,0.858055,65.172326,Large (2000-5000)
Johnson High School,District,4761,$650.00,"$3,094,650.00",77.072464,80.966394,0.749809,0.858055,65.172326,Large (2000-5000)
Pena High School,Charter,962,$609.00,"$585,858.00",83.839917,84.044699,0.749809,0.858055,65.172326,Small (<1000)
Rodriguez High School,District,3999,$637.00,"$2,547,363.00",76.842711,80.744686,0.749809,0.858055,65.172326,Large (2000-5000)
Shelton High School,Charter,1761,$600.00,"$1,056,600.00",83.359455,83.725724,0.749809,0.858055,65.172326,Medium (1000-2000)
Thomas High School,Charter,1635,$638.00,"$1,043,130.00",83.418349,83.848930,0.749809,0.858055,65.172326,Medium (1000-2000)
Wilson High School,Charter,2283,$578.00,"$1,319,574.00",83.274201,83.989488,0.749809,0.858055,65.172326,Large (2000-5000)
Wright High School,Charter,1800,$583.00,"$1,049,400.00",83.682222,83.955000,0.749809,0.858055,65.172326,Medium (1000-2000)

In [93]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Percent Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Percent Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["Percent Overall Passing"].mean()

C:\Users\Dell\AppData\Local\Temp\ipykernel_928\501421947.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\501421947.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\501421947.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["Percent Passing Math"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\501421947.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["Percent Passing Reading"].mean()
C:\Users\Dell\AppData\Local\Temp\ipykernel_928\501421947.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["Percent Overall Passing"].mean()

In [94]:
#Create a new dataframe to hold the above results
size_summary = pd.DataFrame(
	{
		"Average Math Score": size_math_scores,
		"Average Reading Score": size_reading_scores,
		"% Passing Math": size_passing_math,
		"% Passing Reading": size_passing_reading,
		"% Overall Passing": size_overall_passing,
	}
)

#Show the data
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,0.749809,0.858055,65.172326
Medium (1000-2000),83.374684,83.864438,0.749809,0.858055,65.172326
Large (2000-5000),77.746417,81.344493,0.749809,0.858055,65.172326

In [95]:

#Groupby school type and average the data
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Percent Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Percent Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Percent Overall Passing"].mean()

In [96]:
#Create a new dataframe to hold the above results
type_summary = pd.DataFrame(
	{
		"Average Math Score": average_math_score_by_type,
		"Average Reading Score": average_reading_score_by_type,
		"Percent Passing Math": average_percent_passing_math_by_type,
		"Percent Passing Reading": average_percent_passing_reading_by_type,
		"Percent Overall Passing": average_percent_overall_passing_by_type,
	}
)

#Show the data
type_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,0.749809,0.858055,65.172326
District,76.956733,80.966636,0.749809,0.858055,65.172326